# build alls the user guides in this project as pdf
name: create-all-pdfs

# Controls when the action will run. 
on:
  # this action will be run manually
  workflow_dispatch:
  
  # or when there is a push or pull_request to the main branch
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
      - name: Compile TimeTagger4 User Guide
        uses: dante-ev/latex-action@master
        with:
          root_file: TimeTagger4_User_guide.tex
      - name: Compile xTDC4 User Guide
        uses: dante-ev/latex-action@master
        with:
          root_file: xTDC4_User_guide.tex
      - name: Compile xHPTDC8 User Guide
        uses: dante-ev/latex-action@master
        with:
          root_file: xHPTDC8_User_guide.tex
      - name: Upload User Guides as Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: xTDC-and-TimeTagger-User-Guides
          path: "*_User_Guide.pdf"

 
